node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log*
.npm/
.yarn/

.vscode-test/        # Folder for VS Code test instances
*.vsix               # Packaged extension files
.vscode-test-web/    # Folder for VS Code web test instances

.vscode/*.log
.vscode/*.code-workspace
.vscode/*.code-workspace.template
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

.DS_Store            # macOS folder metadata
Thumbs.db            # Windows thumbnail cache
desktop.ini          # Windows custom folder settings