node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log*
.npm/
.yarn/

.vscode-test/
*.vsix
.vscode-test-web/

.vscode/*.log
.vscode/*.code-workspace
.vscode/*.code-workspace.template
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

.DS_Store
Thumbs.db
desktop.ini